<h1>Your Cart</h1>

<% @items.each do |item|%>
  <%= item.title%> <br>
    <% item.line_items.each do |line_item| %>
      Quantity: <%= line_item.quantity %>
      Total: <%= "$#{@current_cart.total.to_f/100}" %>
    <% end %>
<% end %>

<%= button_to "Checkout", cart_path(@current_cart)%>
