<nav class="">
    <%= render 'layouts/signin' %>

      <h2>  <%= link_to "Store Home", store_path %> </h2>
        <% if !!@cart %>
           <%= link_to "Cart", cart_path(current_cart) %>
        <% end %>





</nav>
